<script>
if({{func}} == 1)
    success();
else if({{func}} == 0)
    fail();
</script>
            <div class="leftside">
                <div class="lefttop">
                    <p id="question_number">{{q_no}}</p>
                </div>
                <div class="righttop">
                    <a href="{{link}}" id="text_hyper" target='_blank'><p id="question_description">{{q_des}}</p></a>
                </div>
                <div class="images_class">
                <img src={{image_src1}} width="{{img1_width}}" height="{{img1_height}}" id="image1" style="display: {{image_status1}};" class="images">
                <div class="space"></div>
                <img src="{{image_src2}}" width="{{img2_width}}" height="{{img2_height}}" id="image" style="display: {{image_status2}};" class="images"> 
                </div>
                <!-- <div class="lower">
                    <p id="question">ghfhkghfhg</p>
                </div> -->
            </div>
