<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<style>
    .project-tab {
        margin-top: -1%;
    }

    .project-tab #tabs {
        background: #007b5e;
        color: #eee;
    }

    .project-tab #tabs h6.section-title {
        color: #eee;
    }

    .project-tab #tabs .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
        color: #0062cc;
        background-color: transparent;
        border-color: transparent transparent #f3f3f3;
        border-bottom: 3px solid !important;
        font-size: 25px;
        font-weight: bold;
    }

    .project-tab .nav-link {
        border: 1px solid transparent;
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
        color: #0062cc;
        font-size: 20px;
        font-weight: 600;
    }

    .project-tab .nav-link:hover {
        border: none;
    }

    .project-tab thead {
        background: #f3f3f3;
        color: #333;
    }

    .project-tab a {
        text-decoration: none;
        color: #333;
        font-weight: 600;
    }

    .imagebox {
        width: 60%;
        height: 40%;
        margin-bottom: 4px;
    }

    #question_description a {
        color: lightblue;
        font-size: 2.5vw;
    }
</style>
<script>
    if ({{ func }} == 1)
    success();
else if ({{ func }} == 0)
    fail();
</script>

<body>
    <section id="tabs" class="project-tab">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav>
                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                            {{#if active.q1}}
                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab"
                                href="#nav-{{ q1.q_no }}" role="tab" aria-controls="nav-home" aria-selected="true">{{
                                q1.q_no }}</a>
                            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab"
                                href="#nav-{{ q2.q_no }}" role="tab" aria-controls="nav-profile"
                                aria-selected="false">{{ q2.q_no }}</a>
                            {{else}}
                            <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#nav-{{ q1.q_no }}"
                                role="tab" aria-controls="nav-home" aria-selected="true">{{ q1.q_no }}</a>
                            <a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab"
                                href="#nav-{{ q2.q_no }}" role="tab" aria-controls="nav-profile"
                                aria-selected="false">{{ q2.q_no }}</a>
                            {{/if}}
                        </div>
                    </nav>
                    <br>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade {{#if active.q1}}show active{{/if}}" id="nav-{{ q1.q_no }}"
                            role="tabpanel" aria-labelledby="nav-home-tab">
                            <center>
                                <p id="question_description">
                                    <a href="{{q1.link}}" id="text_hyper" target='_blank'>{{q1.q_des}}</a>
                                </p>
                                <div class="img_container">
                                    <div class="imagebox">
                                        <img src="{{ q1.image_src1 }}" width="{{q1.img1_width}}"
                                            height="{{q1.img1_height}}">
                                    </div>
                                    <div class="imagebox">
                                        <img src= "{{ q1.img_src2 }}" width="{{q1.img2_width}}"
                                            height="{{q1.img2_height}}" style="display: {{q1.image_status2}};">
                                    </div>
                                </div>
                            </center>
                            <br>
                            <form action="\play" method="POST">
                                <center>
                                    <input type="text" value="{{ q1.q_no }}" name="qno" hidden>
                                    <input type="text" class="input" name="answer" autocomplete="off">
                                    <br>
                                    <input type="submit" name="submit" class="submit_custom">
                                </center>
                            </form>
                        </div>
                        <div class="tab-pane fade {{#if (ne active.q1 true) }}show active{{/if}}" id="nav-{{ q2.q_no }}"
                            role="tabpanel" aria-labelledby="nav-profile-tab">
                            <center>
                                <p id="question_description">
                                    <a href="{{q2.link}}" id="text_hyper" target='_blank'>{{q2.q_des}}</a>
                                </p>
                                <div class="img_container">
                                    <div class="imagebox">
                                        <img src="{{ q2.image_src1 }}" width="{{q2.img1_width}}"
                                            height="{{q2.img1_height}}">
                                    </div>
                                    <div class="imagebox">
                                        <img src="{{q2.img_src2}}" width="{{q2.img2_width}}"
                                            height="{{q2.img2_height}}" style="display: {{q2.image_status2}};">
                                    </div>
                                </div>
                            </center>
                            <br>
                            <form action="\play" method="POST">
                                <center>
                                    <input type="text" value="{{ q2.q_no }}" name="qno" hidden>
                                    <input type="text" class="input" name="answer" autocomplete="off">
                                    <br>
                                    <input type="submit" name="submit" class="submit_custom">
                                </center>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>