<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  @import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

  ::-webkit-scrollbar {
    display: none;
  }

  .header_main {
    font-family: 'Bubblegum Sans', cursive;
    font-size: 70px;
    color: white;
  }

  .header_sub {
    font-family: 'Bubblegum Sans', cursive;
    font-size: 40px;
    color: white;
  }

  body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100vh;
    text-align: center;
    background: url('../images/Background_Static.jpg') repeat 0 0;
  }

  .stats {
    color: white;
    font-family: 'Acme', sans-serif;
  }

  .tableFixHead {
    overflow-y: auto;
    overflow-x: auto;
    height: 500px;
    color: white;
    font-family: 'Acme', sans-serif;
    border-bottom: 2.5px solid white;
  }

  .tableFixHead thead tr:first-child th {
    position: sticky;
    top: 0;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  th {
    height: 60px;
  }

  th,
  td {
    padding: 16px 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid #ccc;
  }

  th {
    background: white;
    color: black;
  }

  @media only screen and (min-width: 768px) {
    .div1 {
      width: 80%;
      height: 100vh;
      margin-left: 10%;
      margin-right: 10%;
      padding: 0;
    }
  }

  .title {
    width: 100%;
    font-size: 5vw;
    color: white;
  }



  @media only screen and (max-width: 768px) {
    .title {
      width: 100%;
      font-size: 5vw;
      color: white;
    }

    .div1 {
      width: 100%;
      height: 100%;
      margin: 0px !important;
      padding: 0px !important;
    }
  }
</style>

<div class="header_main">
  <div class="col">ENIGMA</div>
</div>
<hr color="white" style="border: 2px solid white;">
<div class="header_sub">
  LEADERBOARD
</div>
<hr color="white" style="border: 2px solid white;">
<div class="tableFixHead">
  <table>
    <thead>
      <tr>
        <th>Rank</th>
        <th>Username</th>
        <th>No. of Questions Solved</th>
      </tr>
      <tr>
        <th>{{Rank}}</th>
        <th>{{User_Id}}</th>
        <th>{{My_Level}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>{{userid_1}}</td>
        <td>{{level_1}}</td>
      </tr>
      <tr>
        <td>2</td>
        <td>{{userid_2}}</td>
        <td>{{level_2}}</td>
      </tr>
      <tr>
        <td>3</td>
        <td>{{userid_3}}</td>
        <td>{{level_3}}</td>
      </tr>
      <tr>
        <td>4</td>
        <td>{{userid_4}}</td>
        <td>{{level_4}}</td>
      </tr>
      <tr>
        <td>5</td>
        <td>{{userid_5}}</td>
        <td>{{level_5}}</td>
      </tr>
      <tr>
        <td>6</td>
        <td>{{userid_6}}</td>
        <td>{{level_6}}</td>
      </tr>
      <tr>
        <td>7</td>
        <td>{{userid_7}}</td>
        <td>{{level_7}}</td>
      </tr>
      <tr>
        <td>8</td>
        <td>{{userid_8}}</td>
        <td>{{level_8}}</td>
      </tr>
      <tr>
        <td>9</td>
        <td>{{userid_9}}</td>
        <td>{{level_9}}</td>
      </tr>
      <tr>
        <td>10</td>
        <td>{{userid_10}}</td>
        <td>{{level_10}}</td>
      </tr>
      <tr>
        <td>11</td>
        <td>{{userid_11}}</td>
        <td>{{level_11}}</td>
      </tr>
      <tr>
        <td>12</td>
        <td>{{userid_12}}</td>
        <td>{{level_12}}</td>
      </tr>
      <tr>
        <td>13</td>
        <td>{{userid_13}}</td>
        <td>{{level_13}}</td>
      </tr>
      <tr>
        <td>14</td>
        <td>{{userid_14}}</td>
        <td>{{level_14}}</td>
      </tr>
      <tr>
        <td>15</td>
        <td>{{userid_15}}</td>
        <td>{{level_15}}</td>
      </tr>
      <tr>
        <td>16</td>
        <td>{{userid_16}}</td>
        <td>{{level_16}}</td>
      </tr>
      <tr>
        <td>17</td>
        <td>{{userid_17}}</td>
        <td>{{level_17}}</td>
      </tr>
      <tr>
        <td>18</td>
        <td>{{userid_18}}</td>
        <td>{{level_18}}</td>
      </tr>
      <tr>
        <td>19</td>
        <td>{{userid_19}}</td>
        <td>{{level_19}}</td>
      </tr>
      <tr>
        <td>20</td>
        <td>{{userid_20}}</td>
        <td>{{level_20}}</td>
      </tr>
    </tbody>
  </table>
</div>
<br>